.discounts {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;

  &__title {
    max-width: 388px;
    height: 67px;
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    line-height: 40px;
    margin-bottom: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (min-width: 1440px) {
      font-size: 50px;
      margin-bottom: 50px;
      max-width: 100%;
      white-space: normal;
      display: inline-block;
    }

    span {
      color: #17d75b;
    }
  }

  &__carousel {
    width: 100%;
    overflow: hidden;
    max-width: 250px;
  }

  &__track {
    display: flex;
    transition: transform 0.8s ease-in-out;
  }

  &__container {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__card {
    position: relative;
    width: 250px;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
  }

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__content {
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    padding: 20px 0;
  }

  &__partner {
    width: 92px;
    height: 25px;
  }

  &__percentage {
    font-size: 50px;
    font-weight: 700;
    color: #17d75b;

    @media (min-width: 1440px) {
      font-size: 60px;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    background: linear-gradient(
      180deg,
      #0f9d41 0%,
      #17d75b 49.82%,
      #0f9d41 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
    border-bottom: 0.27px solid;
    border-image-source: linear-gradient(
      180deg,
      #0f9d41 0%,
      #17d75b 49.82%,
      #0f9d41 100%
    );
    border-image-slice: 1;
    transition:
      opacity 0.3s,
      text-shadow 0.3s;
    padding-bottom: 10px;
    cursor: default; /* Запрещаем клик */
    pointer-events: none;

    &:hover {
      opacity: 0.7;
    }
  }

  &__arrow {
    margin-left: 5px;
    width: 8px;
    height: 8px;
  }

  &__dots {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 15px;
  }

  &__dot {
    width: 8px;
    height: 8px;
    background-color: #666;
    border-radius: 50%;
    transition: background-color 0.3s ease-in-out;
  }

  /* Активная точка */
  &__dot.active {
    background-color: #17d75b;
  }
}
