.heroSection {
  width: 100vw;
  height: 932px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  overflow: hidden;
  padding: 20px;
  position: relative;

  @media (min-width: 1440px) {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    max-width: 1440px;
    margin-top: -100px;
    gap: 195px;
    padding: 0;
  }

  &__imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    @media (min-width: 1440px) {
      width: 50%;
    }
  }

  &__image {
    width: 331px;
    height: 279px;
    object-fit: contain;

    @media (min-width: 1440px) {
      width: 640px;
      height: 594px;
      margin: 0;
    }
  }

  &__content {
    width: 100%;
    max-width: 388px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    margin-top: 20px;

    @media (min-width: 1440px) {
      width: 50%;
      max-width: 600px;
      padding-left: 20px;
    }
  }

  &__title {
    font-family: var(--font-jockey);
    font-size: 70px;
    font-weight: 400;
    line-height: 80px;
    text-align: left;
    color: #ffffff;
    text-transform: uppercase;
    position: relative;
    white-space: nowrap;

    @media (min-width: 1440px) {
      font-size: 100px;
      margin-bottom: 30px;
    }
  }

  &__subtitle {
    font-family: var(--font-helvetica);
    font-size: 30px;
    line-height: 40px;
    font-weight: 500;
    color: #ffffff;

    @media (min-width: 1440px) {
      font-size: 50px;
      line-height: 40px;
    }

    span {
      background: linear-gradient(90deg, #168f5d, #1dc776);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;

    span {
      background: rgba(255, 255, 255, 0.1);
      padding: 5px 10px;
      border-radius: 5px;
      font-size: 14px;
    }
  }

  &__buttons {
    display: flex;
    gap: 15px;
    margin-top: 30px;

    button {
      padding: 12px 20px;
      font-size: 16px;
      border-radius: 5px;
      border: none;
      cursor: pointer;
      transition: 0.3s;
    }

    &__affiliate {
      background: #00ff99;
      color: #000;
    }

    &__advertiser {
      background: transparent;
      border: 2px solid #00ff99;
      color: #00ff99;
    }
  }

  &__scrollArrow {
    display: none;

    @media (min-width: 1024px) {
      display: block;
      position: absolute;
      bottom: 20px;
      left: 50%;
      // margin-top: 100px;
      transform: translateX(-50%);
      width: 65px;
      height: 65px;
      z-index: 10;
      animation: bounce 1.5s infinite;
    }
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translateX(-50%) translateY(0);
  }
  50% {
    transform: translateX(-50%) translateY(-10px);
  }
}
