.advantagesTitle {
  font-family: var(--font-helvetica);
  width: 100%;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #fff;
  text-align: center;
  margin: 70px 0 19px;

  &__highlight {
    color: #0f9d41;
  }
}
