// .finalStats {
//   position: relative;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   width: 100%;
//   margin-top: 70px;
//   height: 530px;
//   background-image: url('/partners-backgr.svg');
//   background-size: contain;
//   background-position: center;
//   background-repeat: no-repeat;

//   &__content {
//     position: absolute;
//     display: grid;
//     grid-template-columns: repeat(3, 1fr);
//     grid-template-rows: auto auto;
//     gap: 30px;
//     width: 1440px;
//     height: 100%;
//     align-items: center;
//     justify-items: center;
//   }

//   &__item {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;
//     text-align: center;
//     height: 100%;
//     width: 100%;
//     transition: transform 0.3s ease-in-out;
//   }

//   .finalStats__item:nth-child(4) {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;
//     text-align: center;
//     padding-left: 300px;
//     grid-column: span 2;
//   }

//   // .finalStats__item:nth-child(5) {
//   //   display: flex;
//   //   flex-direction: column;
//   //   align-items: center;
//   //   justify-content: center;
//   //   text-align: center;
//   //   margin-left: 100px;
//   // }

//   &__value {
//     font-size: 70px;
//     font-weight: 700;
//     color: #17d75b;
//     line-height: 1.2;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     width: 100%;
//     transition: transform 0.3s ease-in-out;
//   }

//   &__text {
//     font-size: 25px;
//     color: #fff;
//     line-height: 1.5;
//     max-width: 80%;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     transition: transform 0.3s ease-in-out;
//   }
// }

// /* Эффект увеличения текста при наведении */
// .finalStats__item:hover .finalStats__value,
// .finalStats__item:hover .finalStats__text {
//   transform: scale(1.1); /* Увеличиваем размер текста */
//   transition: transform 0.3s ease-in-out;
// }

.finalStats {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 70px;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 338px;
  }

  &__card {
    position: relative;
    padding: 20px;
    height: 135px;
    border-radius: 40px;
    background: rgba(0, 0, 0, 0.8);
    border: 1px solid #17d75b;
    text-align: center;
    box-shadow: 0 0 10px rgba(23, 215, 91, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__value {
    font-size: 40px;
    font-weight: 700;
    background: linear-gradient(#0f9d41, #17d75b, #0f9d41);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 50px;
  }

  &__text {
    font-size: 20px;
    color: #fff;
    font-weight: 400;
    line-height: 35px;
    text-align: center;
  }

  &__arrow {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 14px;
    height: 14px;
  }
}
