@import url('https://fonts.googleapis.com/css2?family=Jaro&family=Jockey+One&family=Roboto:wght@400;700&display=swap');

:root {
  --font-jockey: 'Jockey One', sans-serif;
  --font-helvetica: 'Roboto', sans-serif;
  --font-jaro: 'Jaro', sans-serif;
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  background-color: #000;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  justify-content: center;
  font-family: var(--font-helvetica);
  color: var(--foreground);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.firstBlock {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url('/background.svg') no-repeat center/cover;
}

.secondBlock {
  width: 100%;
}

.thirdBlock {
  margin-top: 70px;
  width: 100%;

  @media (min-width: 1440px) {
    margin-top: 130px;
  }
}
.fourthBlock {
  margin-top: 30px;
  width: 100%;

  @media (min-width: 1440px) {
    max-width: 1400px;
  }
}

.fifthBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (min-width: 1440px) {
    flex-direction: row-reverse;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
    gap: 50px;
  }
}

.sixthBlock {
  display: flex;
  width: 100%;
  min-height: 100vh;
  justify-content: center;

  @media (min-width: 1440px) {
    justify-content: center;
    max-width: 1440px;
    margin: 0 auto;
  }
}

.seventhBlock {
  width: 100%;
}

.eighthBlock {
  width: 100%;
}
