.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 41px;
  width: 100%;
  padding: 0 20px 19px;
  top: 0;
  left: 0;
  z-index: 1000;

  @media (min-width: 1440px) {
    max-width: 1440px;
  }

  &__navbar {
    width: 100%;
    max-width: 388px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (min-width: 1440px) {
      max-width: 1440px;
      display: flex;
      align-items: center;
    }
  }

  &__logo {
    width: 204px;
    height: 20.12px;

    @media (min-width: 1440px) {
      width: 320px;
      height: 31px;
    }
  }

  &__burgerButton {
    display: flex;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
    justify-content: flex-end;

    @media (min-width: 1440px) {
      display: none;
    }
  }

  &__burgerMenu {
    width: 25px;
    height: 16px;
    background: none;
    border: none;
  }

  &__menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 428px;
    height: 371px;
    background: rgba(0, 0, 0, 0.21);
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 20px;
    z-index: 1000;

    @media (min-width: 1440px) {
      display: none;
    }
  }

  &__menuClose {
    position: absolute;
    top: 20px;
    right: 40px;
    padding: 20px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 10;

    @media (min-width: 1440px) {
      display: none;
    }

    img {
      width: 22px;
      height: 22px;
    }
  }

  &__menuContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 40px;
    min-height: 100%;

    @media (min-width: 1440px) {
      flex-direction: row;
      gap: 40px;
    }
  }

  &__menuLink {
    font-size: 20px;
    font-weight: 500;
    line-height: 17px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    transition: color 0.3s ease-in-out;

    &:hover {
      color: #17d75b;
    }
  }

  &__menuContact {
    display: flex;
    align-items: center;
    gap: 10px;
    white-space: nowrap;
  }

  &__menuButtons {
    display: flex;
    gap: 15px;
    margin-top: 20px;

    @media (min-width: 1440px) {
      margin: 0;
      margin-left: 184px;
      gap: 20px;
    }
  }

  &__signUp {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 127px;
    height: 50px;
    border-radius: 100px;
    border: 1px solid #fff;
    background: transparent;
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    line-height: 17px;
    text-decoration: none;
    cursor: pointer;
    transition:
      background 0.3s ease-in-out,
      transform 0.2s ease-in-out;

    &:hover {
      background: radial-gradient(
        99.14% 833.75% at 2.87% 37.5%,
        #0f9d41 0%,
        #17d75b 49.82%,
        #0f9d41 100%
      );
      border: 1px solid #0f9d41;
    }
  }

  &__login {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    padding: 12px 24px;
    border-radius: 25px;
    font-weight: 500;
    line-height: 17px;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    transition:
      background 0.3s ease-in-out,
      color 0.3s ease-in-out;

    &:hover {
      background: radial-gradient(
        99.14% 833.75% at 2.87% 37.5%,
        #0f9d41 0%,
        #17d75b 49.82%,
        #0f9d41 100%
      );
      border: 1px solid #0f9d41;
    }
  }

  &__menuDesktop {
    display: none;

    @media (min-width: 1440px) {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 40px;
    }
  }
}
