.geoMap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 8px;
  margin-right: 20px;

  &__title {
    font-family: var(--font-helvetica);
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    font-weight: 700;
    background: linear-gradient(
      180deg,
      #0f9d41 0%,
      #17d75b 49.82%,
      #0f9d41 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 388px;
    height: 29px;

    @media (min-width: 1440px) {
      font-size: 50px;
      height: 51px;
      line-height: 121%;
    }
  }

  &__container {
    display: flex;
    // position: relative;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 300px;
    margin: 0;

    @media (min-width: 1440px) {
      width: 1440px;
      height: 813px;
      margin-top: 50px;
    }
  }

  &__image {
    width: 100%;
    height: auto;
  }

  &__region {
    fill: transparent;
    cursor: pointer;
    transition: fill 0.3s ease-in-out;
  }

  &__region:hover {
    fill: #0f9d41;
  }

  &__info {
    position: absolute;
    top: 50%;
    left: 110%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 14px;
    white-space: nowrap;
  }
}
