.stats {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 100%;
  max-width: 430px;
  background: radial-gradient(
      circle at top left,
      rgba(23, 215, 91, 0.3),
      transparent 50%
    ),
    radial-gradient(
      circle at bottom right,
      rgba(23, 215, 91, 0.3),
      transparent 50%
    );

  @media (min-width: 1440px) {
    max-width: 680px;
    width: 100%;
    background: radial-gradient(
        circle at top left,
        rgba(23, 215, 91, 0.4),
        transparent 20%
      ),
      radial-gradient(
        circle at bottom right,
        rgba(23, 215, 91, 0.3),
        transparent 20%
      );
  }

  &__decorations {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 1;
  }

  &__decorLeft {
    position: absolute;
    top: -10px;
    left: -30px;
    z-index: -1;

    @media (min-width: 1440px) {
      top: -20px;
      left: -50px;
      width: 100px;
      height: 100px;
    }
  }

  &__decorRight {
    position: absolute;
    bottom: -10px;
    right: -30px;
    z-index: -1;

    @media (min-width: 1440px) {
      bottom: -20px;
      right: -50px;
      width: 100px;
      height: 100px;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    z-index: 2;

    @media (min-width: 1440px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto;
      justify-content: center;
      width: 100%;
      justify-items: center;
    }
  }

  &__item {
    position: relative;
    width: 338px;
    height: 135px;
    border: 1px solid #17d75b;
    border-radius: 40px;
    padding: 20px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    box-shadow: inset 0 0 10px rgba(23, 215, 91, 0.2);
    overflow: hidden;

    @media (min-width: 1440px) {
      width: 338px;
      height: 160px;
      padding: 30px;
      gap: 15px;

      &:nth-child(1),
      &:nth-child(2) {
        align-self: center;
      }

      &:nth-child(3) {
        align-self: center;
        width: 680px;
        grid-column: span 2;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__value {
    font-family: var(--font-helvetica);
    font-size: 50px;
    background: linear-gradient(#0f9d41, #17d75b, #0f9d41);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    line-height: 121%;
    text-align: center;

    @media (min-width: 1440px) {
      font-size: 60px;
    }
  }

  &__text {
    font-family: var(--font-helvetica);
    font-size: 20px;
    font-weight: 400;
    line-height: 35px;
    text-align: center;
    color: #fff;

    @media (min-width: 1440px) {
      font-size: 24px;
    }
  }

  &__arrow {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 14px;
    height: 14px;

    @media (min-width: 1440px) {
      width: 18px;
      height: 18px;
    }
  }
}
